{% extends 'layout.html' %}
{% block title %}Contact us{%endblock %}

{% block header %}
<h1>Contact us</h1>
{% endblock %}


{% block content %}
<div class = 'container'>

<h3>Write to us at :</h3>
<p>fabani@multi.com</p>

<h3>Developers :</h3>
<p>Gabriela Dobrovat</p>
<p>Madalina Marin</p>
<p>Adrian Popovici</p>
<p>Robert Tanase</p>
<p><small>2018 Fabani developers</small></p>

<h3>Location :</h3>
    <p>
        Maior Gheorghe Șonțu No. 8, et. 1 011448 Bucharest Romania
    </p>


</div>
{% endblock %}