{% extends 'layout.html' %}

{% block header %}
<h1>Welcome, {{ user.username }}!</h1>
<p class="lead">Latest projects</p>
{% endblock %}

{% block content %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Active</th>
            <th>Title</th>
            <th>Employer</th>
            <th>Payment</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.pk }}</td>
                <td>{{ project.active }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.employer }}</td>
                <td>{{ project.payment }}</td>
                <td>{{ project.deadline }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}