<nav class="navbar navbar-default">
    <a class="navbar-brand" href="{% url 'projects_list' %}">Home</a>
    <ul class="nav navbar-nav">
        <li>
            <a href="{% url 'user_projects' request.user.id %}">My Projects</a>
        </li>
        <li>
            <a href="{% url 'user_profile' request.user.id %}">My Profile</a>
        </li>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'contact' %}">Contact</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li>
            <a href="">Login</a>
        </li>
        {% else %}
        <li>
            <a href="">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>