{% extends 'layout.html' %}
{% block title %}{{ project.title }}{%endblock %}

{% block header %}
<h1>{{ project.title }}</h1>
{% endblock %}


{% block content %}
<div class = 'container'>

<h3>Project description :</h3>
    <p>{{ project.description }}</p>

<h3>Required skills :</h3>
    <ul>
        {% for skill in project.skills.all %}
            <li>{{ skill.name }}</li>
            <li>{{ skill.proficiency }}</li>
        {% endfor %}
    </ul>

<h3>Deadline : {{project.deadline}}</h3>

<h3>Payment : {{project.payment}}</h3>

{% for comment in project.comments.all %}
	<p> {{ comment.text }} </p>
{% endfor %}

{% if project.active == True %}
<form method="POST" action="{% url 'add_applicant' project.pk %}">
	{% csrf_token %}
	<input type="submit" value="{{ project }}" text="Apply">
	}
</form>
{% endif %}
</div>
{% endblock %}