{% extends 'layout.html' %} 

{% block title %}{{ request.user.username }}{% endblock %}

{% block header %}
<h1>Your profile details</h1>
{% endblock %}


{% block content %}
<div class = 'container'>

<h3>Username :</h3>
    <p>{{ request.user.username }}</p>
<h3>First name :</h3>
    <p>{{ request.user.first_name }}</p>
<h3>Last name :</h3>
    <p>{{ request.user.last_name }}</p>
<h3>Email :</h3>
    <p>{{ request.user.email }}</p>

{% if request.user.groups.all.0.name == 'employee' %}
    <table class="table table-bordered table-hover">
        <caption>Your skills</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Skill </th>
                <th scope="col">Description </th>
                <th scope="col">Proficiency </th>
                <th scope="col">Created </th>
                <th scope="col">Updated </th>
            </tr>
        </thead>
        <tbody>
            {% for skill in request.user.skills.all %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>{{ skill.description }}</td>
                <td>{{ skill.proficiency }}</td>
                <td>{{ skill.created }}</td>
                <td>{{ skill.updated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  <a href="{% url 'addEditSkills' %}">Edit skills</a>
{% endif %}

{% if request.user.groups.all.0.name == 'employer' %}
<!--<h3>Company : {{ user.companyName }}</h3>-->
{% endif %}

</div>
{% endblock %}