{% extends 'layout.html' %} 

{% block header %}
<h1>Your projects</h1>
{% if request.user.groups.all.0.name == 'employer' %}
<p class="lead">Projects added by you</p>
{% endif %}

{% if request.user.groups.all.0.name == 'employee' %}
<p class="lead">Projects that you have applied to and worked at in the past</p>
{% endif %}

{% endblock %}

{% block content %}
<div class = 'container'>

<h1>My Projects</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>   ID   </th>
            <th>   Active   </th>
            <th>           Title           </th>
            <th>          Employer         </th>
            <th>   Payment  </th>
            <th>     Deadline     </th>
            <th> Details </th>
        </tr>
    </thead>
    <tbody>
        {% if request.user.groups.all.0.name == 'employer' %}
            {% for project in request.user.employer_projects.all %}
                <tr>
                <td>{{ project.pk }}</td>
                <td>{{ project.active }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.employer }}</td>
                <td>{{ project.payment }}</td>
                <td>{{ project.deadline }}</td>
                <td>
                <a href="{% url 'project' pk=project.pk %}">
                    <button class="btn btn-info">
                        Details
                    </button>
                </a>
                </td>
                </tr>
            {% endfor %}

        {% else %}

        {% for project in request.user.employee_projects.all %}
            <tr>
                <td>{{ project.pk }}</td>
                <td>{{ project.active }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.employer }}</td>
                <td>{{ project.payment }}</td>
                <td>{{ project.deadline }}</td>
                <td>
                <a href="{% url 'project' pk=project.pk %}">
                    <button class="btn btn-info">
                        Details
                    </button>
                </a>
                </td>
            </tr>
        {% endfor %}

        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}